body {
	font-size: 14px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	color: #01070a;
	min-width: 960px;
	background: white;
	
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    }

div, article, a { 
outline: 1px solid red; 
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-layer {
    width: 59px;
    height: 72px;
    background-position: -10px -10px;
}

.sprite-delivery-car {
    width: 78px;
    height: 63px;
    background-position: -10px -102px;
}

.sprite-icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -185px;
}

.sprite-icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -221px;
}

.sprite-icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -10px -257px;
}

.sprite-icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -300px;
}

.sprite-icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -10px -343px;
}

.sprite-icon-facebook-copy {
    width: 10px;
    height: 18px;
    background-position: -10px -373px;
}

.sprite-icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -411px;
}

.sprite-icon-instagramm-copy {
    width: 17px;
    height: 17px;
    background-position: -10px -443px;
}

.sprite-icon-left {
    width: 22px;
    height: 40px;
    background-position: -10px -480px;
}

.sprite-icon-login {
    width: 20px;
    height: 17px;
    background-position: -10px -540px;
}

.sprite-icon-logout {
    width: 21px;
    height: 17px;
    background-position: -10px -577px;
}

.sprite-icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -614px;
}

.sprite-icon-right {
    width: 22px;
    height: 40px;
    background-position: -10px -653px;
}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -10px -713px;
}

.sprite-icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -10px -750px;
}

.sprite-icon-user {
    width: 20px;
    height: 18px;
    background-position: -10px -780px;
}

.sprite-icon-vk-copy {
    width: 20px;
    height: 12px;
    background-position: -10px -818px;
}

.sprite-shadow-service-menu {
    width: 10px;
    height: 272px;
    background-position: -10px -850px;
}

.sprite-tool-nav-1 {
    width: 44px;
    height: 65px;
    background-position: -10px -1142px;
}

.sprite-tool-nav-2 {
    width: 78px;
    height: 62px;
    background-position: -10px -1227px;
}

.sprite-tool-nav-3 {
    width: 75px;
    height: 61px;
    background-position: -10px -1309px;
}

.container {
	width: 940px;
	margin: 0 auto;
}


.top-header {	
	color: #f8f8f8;
	background-color: #32425c;

	}

.index-logo {
	float: left;
	width: 220px;
	min-height: 40px;	
	background-color: #ee3643;
	text-align: center;
	box-shadow: rgba(0 0 0 0.5);

}

.index-logo p{
	color: white;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 10px;
	box-shadow: 0px 6px 0px 1px #b52933;


}

.top-navigation form {
	float: left;
	padding-left: 50px;
	min-width: 90px;
	min-height: 42px;
	
}

.top-navigation input {
	border: none;
	width: 80px;
	min-height: 42px;
	margin-right: 140px;
	color: white;
	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", sans-serif;
	background-color: #293449;
}

.top-navigation form {
	  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.top-navigation form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;

  opacity: 0.3;
}

.top-navigation form::before {
	 background-position: -10px -713px;
}



.bookmark  {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;

  opacity: 0.3;
}

.bookmark::before {
	 background-position: -10px -221px;
}

.basket {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.basket::before {
	  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;

  opacity: 0.3;
}

.basket::before {
background-position: -10px -185px;
}

.checkout {
	  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.bookmark  a{
	float: left;
	min-width: 140px;
	margin-left: 10px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

}

.basket a{
	float: left;
	min-width: 140px;
	margin-left: 10px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.checkout a{
	float: right;
	min-width: 140px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.description {
	float: left;
	width: 300px;
	min-height: 120px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 20px;
	clear: both;
	text-align: center;
} 

.description .header-resume {
	padding-right: 50px;
	padding-left: 50px;
	font-size: 16px;
	color: #ee3643 ;
	
}

.main-header {

min-height: 160px;
clear: both;
background: #f1f5f7;
margin-bottom: 25px;

}

.contacts-header {
	float: left;
	min-width: 300px;	
	min-height: 12px;
	text-align: center;
	border: 2px solid white;
	margin-top: 30px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.contacts-header .phone-num {
	border: 3px solid #ffffff;
	padding-left: 70px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 40px;
	font-size: 21px;
	color: #e9292a;
}

.phone-num {
	  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.phone-num::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 20px;
  width: 23px;
  height: 23px;
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
}

.phone-num::before {
	background-position: -10px -614px;
}

.contacts-header p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	font-family: "Cuprum", sans-serif;
	font-weight:  bold;
}

.user-block {
	float: right;
	width: 300px;
	min-height: 160px;	
}

.user-block a {
	font-size: 21px;

}

.user-block .welcome {
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
	margin-left: 20px;
	border: 1px solid white;
	color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding-top: 12px;
	padding-bottom:  15px;
	padding-left: 25px;
	padding-right: 25px;
}

.welcome {
	  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.welcome::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 1px;
  width: 23px;
  height: 23px;
  background: transparent url("../img/sprite.png") no-repeat;
  opacity: 0.3;
}

.welcome::before {
	background-position: -10px -540px;	
}

.user-block .registration {
	display: inline-block;
	border: 1px solid white;
	color: #000000;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 10px;
    background-color: #ffffff;
    padding-right: 25px;
    padding-top: 14px;
    padding-left: 25px;
    padding-bottom: 13px;
}


.user-block .main-name {
	float:left;
	width: 300px;
	min-height: 45px;
	margin-top: 45px;
	background: #ffffff;
	text-align: center;
	padding-top: 15px;

}

.user-block a:active {
opacity: 0.5;
}

.user-point {
  margin: 0;
  padding: 0;
 
  list-style: none;
}

.user-point a{
 position: relative;
color: #47546a;
 font-size: 16px;
  line-height: 18px;
  display: inline;
  padding-right: 30px;
  margin-left: 18px;
}

.user-point a:hover {
	color: red;
}


.user-point a:after {
	content: "";
	position: absolute;
	top: 7px;
	margin-left: 21px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: black;
}

.user-point .personal-area:after {
	display: none;
}


.main-navigation {
	clear: both;
	font-size: 0;
}

.main-navigation a {
 float: left;
  background-color: #32425c;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 20px 33px;

 }

 .main-navigation a:active {
color: #a8abaf;
 }

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
  clear: both;

}

.main-navigation li {
 display: inline-block;
 font-size: 17px;
 line-height: 17px;
 vertical-align: top;
}

.main-navigation a:hover {
  background: #293449;
}

.category {
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.category-item {
	float: left;
	min-width: 280px;
	min-height: 83px;
	padding-top: 10px;
	padding-bottom: 17px;
	padding-left: 20px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}


.category-item:after {
	content: "";
	position: absolute;
	top: 60%;
	right: 33%;
	transform: translate(100%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
		width: 80px;
    height: 70px;
}

.materials:after {
    background-position: -10px -1142px;
}

.tool:after {
   background-position: -10px -1309px;
}


.build:after {
   background-position: -10px -1227px;
}

.sale:after {
   background-position: -10px -10px;
}

.delivery-free:after {
   background-position: -10px -102px;
}


.category-item:nth-child(3){
	margin-right: 0px;
}

.category-item:nth-child(5),
.category-item:nth-child(6) {
	margin-right: 0px;
	margin-left: 20px;
	margin-top: 20px;
}

.materials,
.delivery-free{
	background:  #f6b22d;
}

.tool {
	background: #4aafde;
}

.build {
	background: #cc79d1;
}

.sale {
	background: #85d179;
}


.category-item .tool {
	background: #4aafde;
}

.category a {
	color: white;
	min-width: 95px;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	padding: 10px 20px;
	margin-left: 20px;
	border-radius: 4px;
	background: rgba(0,0,0,0.1);
}

.category a:hover {
	background-color: rgba(0,0,0,0.2);
}

.category a:active {
	background-color: rgba(0,0,0,0.3);
}

.category h2 {
	color: white;
}

.slider {
	float: left;
	min-width: 620px;
	min-height: 266px;
	margin-top: 20px;
	padding: 0px;
	background: url("../img/slider-img.png") no-repeat 0 0;
}

.slider h2 {
	font-size: 36px;
	line-height: 30px;
	font-weight: bold;
	font-family: "Cuprum", sans-serif;
}


.slider a{
width: 200px;
font-size: 14px;
line-height: 18px;
padding: 15px 40px;
margin-top: 80px;
color: white;
background:#ee3643;
border-radius:3px;
text-align: center;
text-decoration: none;
margin-left: 25px;
}

.slider a:hover {
	background-color: #ca2c37;
}

.slider a:active {
	background-color: #ba2732;
}




.popular-header {
	clear: both;
	background: #f7f3ec;
	min-height: 90px;
	margin-bottom: 20px;
}


.popular-header-caption {
float: left;
font-size: 30px;
line-height: 30px;
padding-left: 30px;
font-weight: normal;


}


.all-popular-goods {
float: right;
min-width: 250px;
padding: 10px 0px;
margin: 25px;
color:white;
background:#ee3643;
border-radius:3px;
text-align: center;
text-decoration: none;
}


.makers {
float: left;
margin-right: 19px;
margin-bottom: 20px;
width: 218px;
min-height: 143px;
text-align: center;
border: 1px solid #e5e5e5;
background: #ffffff;


}

.makers:hover {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.3);
	background: white;
	border: 1px solid white;
}

.makers:active {
	box-shadow: 0px 4px 10px 0px #293449;
	opacity: 0.3;
}

.makers:nth-child(4n) {
	margin-right: 0px;
}

.point {
	vertical-align: middle;
	margin:  23px 0;
	line-height: 140px;
}

.popular-goods {

	margin-bottom: 20px;

}


.catalog-items-index {
float: left;
width: 940px;
min-height: 320px;
font-size: 0;
 }


.services h3 {
	padding-top: 65px;
	font-size: 30px;
	line-height: 24px;
}

.services p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
	width: 400px;
}

.item-slider { 
	float: left;
width: 230px;
min-height: 180px;
margin-top: 10px;
padding: 0px;
background: url(../img/shadow-service-menu.png) no-repeat;
 }

 .item-slider label {
 	display: block;
 	width: 210px;
 	min-height: 39px;
 	padding-left: 20px;
 	padding-top: 20px;
 	font-size: 21px;
 	line-height: 30px;
 	font-weight: bold;
 	background: #32425c;
 	color: white;
 	border-bottom:   1px solid #405069;
 	border-bottom: 1px solid #405069;
 }

 .item-slider label:hover {
 	background: white;
 	color: #32425c;
 }
 
.active-delivery-slider {
	background-color: #ffffff;
}

.delivery {
	float: right;
	width: 620px;
	min-height: 300px;
	margin-right: 0px;
	background: url(../img/delivery-car-1.png) no-repeat 0 0;
	background-position: 100% 50%;

}

.delivery h3{
	font-size: 30px;
	line-height: 24px;
	
}

.delivery p{
	padding-top: 30px;
	width: 300px;
	margin-right: 20px;
}



.service-slider {

	min-height: 520px;
	background: #f2f6f8;
}


.company-details  {
	min-height: 530px;
}

.about-us {
	clear: both;
	float: left;
	width: 540px;
	min-height: 520px;
}


.about-us-point {
	font-size: 30px;
	padding-top: 35px;
	color: #000000;

}

.about-us-text {
	font-size: 13px;
	line-height: 24px;
	padding-right: 20px;
	padding-bottom: 35px;
	font-family: "PT Sans", sans-serif;
}

.about-us-features li {
	position: relative;
	list-style-type: none;
	margin-bottom:  20px;
}

.about-us-features li:before {
	content: "";
	position: absolute;
	top: 8px;
	left: -36px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
} 

.contacts-map {
	float: right;
	width: 300px;
	min-height: 530px;

}

.contacts-map p{
	width: 190px;

}

.about-us-features {
	font-size: 18px;
	line-height: 20px;
}

.about-us a {
	float: left;
	width: 220px;
	min-width: 250px;
padding: 10px 0px;
margin: 25px;
color:white;
background:#ee3643;
border-radius:3px;
text-align: center;
text-decoration: none;
}

.about-us-map {
	display: block;
	margin-bottom: 90px;
	
}

.find-us {
	
}



.contacts-map .map-btn {
float: left;
width: 300px;
min-width: 250px;
padding: 10px 0px;
margin: 0px 0px 25px;
color:white;
background:#ee3643;
border-radius:3px;
text-align: center;
text-decoration: none;
}

/* Техномарт Каталог*/

.breadcrumbs {
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

}

.breadcrumbs-whole {
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 13px;
	font-size: 0;
	background-color: white;
	position: relative;
}

.breadcrumbs-whole:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("..img/sprite.png");
	background-repeat: no-repeat;
}

.breadcrumbs-whole:before {

	background-position: -10px -653px;
}




.breadcrumbs a, span{
	position: relative;
  	display: inline;
  	padding-right: 40px;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
	color: #000000;

}


.popular-goods-catalog{
	min-height: 90px;
	padding-left: 30px;
	color: #596477;
	background: #f2f6f8;
	}

.catalog-title {
	font-size:30px;
	line-height: 30px;
	padding-top: 30px

}

.filter-catalog {
	float:left;
	width: 220px;
	min-height: 740px;
	margin-right: 20px;
}

.filter {
	min-height: 7px;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", sans-serif;
	background: #f7f3ec;
}

.sort {
	float: right;
	width: 700px;
	min-height: 40px;
	background: #f7f3ec;


}

.sort span {
	font-size: 13px;
	line-height: 18px;
	padding-left: 20px;
	font-family: "PT Sans", sans-serif;
	margin-right: 55px;
	background: #f7f3ec;

}

.sort-gallery {	
	
	padding-left: 65px;
	margin-right: 17px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", sans-serif;
	text-decoration: none;
	color: #c1beb8;
	border-bottom: 1px dotted red;

}

.sort-plus {
 position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  

}

.sort-plus::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;

  
}

.sort-plus::before {
	 background-position: -10px -750px;
}


.sort-minus{
	 position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;

}

.sort-minus::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
 
}

.sort-minus::before {
  background-position: -10px -343px;
}


.catalog-items {
	float: left;
	width: 700px;
	min-height: 990px;
	
}

.catalog-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 217px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
}
 .catalog-item:nth-child(3n) {
 	margin-right: 0;
 }

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}


 .catalog-items-index .catalog-item:nth-child(4n)
 {
 	margin-right: 0;
 	margin-left: 21px;
 }

.catalog-items {
	font-size: 0;
}

.catalog-item {
	font-size: 16px;
}

.catalog-item .flag {
	position: absolute;
	top:-1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.catalog-item .flag-new {
	background: url("../img/new-flag.png") no-repeat 0 0;

}

.catalog-item .actions {
	position: absolute;
	top:0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.catalog-item .actions .catalog-item-buy,
.catalog-item .actions .catalog-item-bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", "sans-serif";
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.catalg-item .actions .catalog-item-buy:hover {
	background-color:  rgba(95,187,45,0.1);
}

.catalg-item .actions .catalog-item-buy:active {
	background-color: rgba(81,133,52,0.1);
}

.catalog-item .actions .catalog-item-bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.catalog-item .actions {
	display: none;
}

.catalog-item:hover .actions {
	display: block;
}

.catalog-item .image {
	width: 218px;
	height: 168px;
}

.catalog-item .image img {
	max-width: 100%;
}

.catalog-item .title {
	min-height: 40px;
	padding: 0 25px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.catalog-item .discount {
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #999;
	text-decoration: line-through;
}

.catalog-item .price {
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
}

.catalog-item .price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: transparent;
}

.pages {
	float: left;
	margin-left: 240px;
margin-top: 40px;
margin-bottom: 50px;


}

.pages a {
	font-size: 13px;
	line-height: 18px;
	margin-right: 10px;
	font-family: "PT Sans", sans-serif;
	text-decoration: none;
	color: #000000;
	border: 1px solid #e5e5e5;
	padding: 8px 14px;
}

.pages a:hover {
	border: 1px solid #bdc6ca;
}

.pages a:active {
	border: 1px solid #ee3643;
}


.goods-column  {
	clear: both;
	min-height: 260px;
	background: #f2f6f8;
}

.goods-column h3{
	font-size: 30px;
	line-height: 24px;
	padding-top: 65px;
}

.goods-column p {
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
}



.footer-higher {

color: #fdebec;
 background: #32425c;
 min-height: 195px;

}

.footer-navigation a{
  float: left;
  background-color: #32425c;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
   margin-left: 35px;
  clear: both;

}

.footer-navigation ul {
 float: right;
  margin: 0;
  padding: 0;
  list-style: none;
 
  margin-top: 30px;


}

.footer-navigation li{
	 display: inline-block;
 font-size: 18px;
 line-height: 24px;
 vertical-align: top;

}

.footer-adress {
	float: left;
	min-width: 350px;
	margin-top: 30px;
	clear: both;
}

.footer-navigation-goods a{
  float: left;
  background-color: #32425c;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
  margin-left:  30px;
  clear: both;
}

.footer-navigation-goods .nav-bottom {
	color: #ffd180;

}

.footer-navigation-goods ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
  
}

.footer-navigation-goods li{
 display: inline-block;
 font-size: 18px;
 line-height: 24px;
 vertical-align: top;
}



.footer-bottom {
	min-height: 75px;
	color: #fdebec;
	background: #293449;
	padding-top: 35px;

}

.site-name {
	float: left;
	width: 240px;
	margin-right: 120px;
	

}

.footer-social {
	float: left;
	max-width: 180px;
	
	text-align: center;

}

.social-btn {
	display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
	border-radius: 50px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #212a3a url(../img/sprite.png) no-repeat center;

}

.social-btn:hover {
	background: #ee3643;
	font-size: 0px;
	
}


.social-btn:hover {
	color: #ffffff;
}
 
.social-btn-vk {
	background-position: 0px -803px;
}

.social-btn-fb {

    background-position: 5px -362px;
}

.social-btn-inst {

    background-position: 3px -433px;

}
	

.connection {
	float: left;
	width: 140px;

}


.footer-copyright {
	float: right;
	width: 140px;
	
}

.connection .footer-info {
	margin: 0px;
}

.footer-copyright .footer-info{
	margin: 0;
}

.btn {
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	color: #ffd180;
}