body {
	font-size: 14px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-color: #01070a;
	min-width: 960px;
	background: white;
	
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    }

div, article, a { 
outline: 1px solid red; 
}


.container {
	width: 940px;
	margin: 0 auto;
		
}


.top-header {
	
	color: #f8f8f8;
	background-color: #32425c;
	
}

.index-logo {
	float: left;
	min-width: 220px;
	min-height: 40px;	
	box-shadow: 
	font-color: red;
	background-color: red;
	text-align: center;
}

form {
	float: left;
	margin-left: 30px;
	min-width: 90px;
	min-height: 42px;
	border: 1px solid red;
}

.bookmark  a{
	float: left;
	min-width: 140px;
	margin-left: 10px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.basket a{
	float: left;
	min-width: 140px;
	margin-left: 10px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.checkout a{
	float: right;
	min-width: 140px;

	padding-top: 12px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.description {
	float: left;
	width: 300px;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-right: 20px;
	clear: both;
	text-align: center;
} 

.description p{
	font-size: 16px;
	color: #ee3643 ;
	
}

.main-header {

min-height: 160px;
clear: both;
background: #f1f5f7;
margin-bottom: 60px;

}

.contacts-header {
	float: left;
	min-width: 300px;	
	text-align: center;
	border: 2px solid white;
	margin-top: 45px;
	margin-right: 10px;
	padding-top: 9px;
	padding-bottom: 9px;

}

.contacts-header .phone-num {
	border: 3px solid #ffffff;
	padding-left: 70px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 40px;
	font-size: 21px;
	font-color: #e9292a;

}

.user-block {
	float: right;
	width: 300px;
	min-height: 160px;	
}

.user-block a {
	font-size: 21px;

}

.welcome {
	display: inline-block;
	vertical-align: top;
	margin-top: 45px;
	margin-left: 20px;
	border: 1px solid white;
	color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding-top: 12px;
	padding-bottom:  15px;
	padding-left: 40px;
	padding-right: 25px;
}


.registration {
	display: inline-block;
	border: 1px solid white;
	color: #000000;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 10px;
    background-color: #ffffff;
    padding-right: 25px;
    padding-top: 14px;
    padding-left: 25px;
    padding-bottom: 13px;
}

.main-navigation a{
 float: left;
  background-color: #293449;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 20px 32px;
  clear: both;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-navigation li {
 display: inline-block;
 font-size: 17px;
 line-height: 17px;
 vertical-align: top;
}

.main-navigation a:hover {
  background: #293449;
}

.category {
	min-height: 520;
	margin-top: 50px;
	margin-bottom: 50px;
	clear: both;
}

.category-item-materials {
	float: left;
	min-width: 280px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-right: 20px;
}

.category-item-tool {
	float: left;
	min-width: 280px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-right: 20px;
}

.category-item-build {
	float: left;
	min-width: 280px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.slider {
	float: left;
	min-width: 620px;
	padding-top: 46px;
	margin-top: 20px;
}

.slider h2 {
	font-size: 36px;
}


.category-item-sale {
	float: left;
	min-width: 280px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.category-item-delivery-free {
	float: left;
	min-width: 280px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

.popular-header {
	clear: both;
	display: inline-block;
	min-width: 940px;
	background: #f7f3ec;
	margin-bottom: 20px;
}


.all-popular-goods {

}


.popular-goods {

	margin-bottom: 20px;
}

.catalog-item-bosch-9000 {
	float: left;
	clear: both;
	max-width: 220px;
	min-height: 320px;
	margin-right: 20px;
}

.catalog-item-bosch-3000{
	float: left;
	
	max-width: 220px;
	min-height: 320px;
	margin-right: 20px;
}
.catalog-item-bosch-6000{
	float: left;

	max-width: 220px;
	min-height: 320px;
	margin-right: 20px;
}
.catalog-item-bosch-2000{
	float: left;

	max-width: 220px;
	min-height: 320px;
}




.service-slider {
	
	min-height: 520px;
	background: #f2f6f8;

}

.company-details  {
	min-height: 530px;


}

.about-us {
	clear: both;
	float: left;
	width: 540px;
}

.contacts-map {
	float: right;
	width: 300px;
}

.footer-higher {

color: #fdebec;
 background: #32425c;
}

.footer-navigation a{
  float: left;
  background-color: #32425c;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
  clear: both;

}

.footer-navigation ul {
	float: right;
  margin: 0;
  padding: 0;
  list-style: none;


}

.footer-navigation li{
	 display: inline-block;
 font-size: 18px;
 line-height: 24px;
 vertical-align: top;

}

.footer-adress {
	float: left;
	min-width: 380px;
	margin-top: 30px;
	clear: both;
}

.footer-navigation-goods a{
  float: left;
  background-color: #32425c;
  color: #fcfeff;
  text-decoration: none;
  display: block;
  padding: 10px 12px;
  clear: both;


}

.footer-navigation-goods ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}

.footer-navigation-goods li{
 display: inline-block;
 font-size: 18px;
 line-height: 24px;
 vertical-align: top;
}



.footer-bottom {
	
	color: #fdebec;
	background: #293449;

}

.site-name {
	float: left;
	width: 320px;
	padding-bottom: 40px;

}

.footer-social {
	float: left;
	width: 160px;
	min-height: 100px;
	display: inline-block;

}

.footer-copyright {


}